* {
    margin: 0;
    padding: 0;
  }
  #wrapper {
    width: 50%;
    margin: 10px;
  }
  #cart_content {
    margin-top: 16px;
    margin-bottom: 32px;
    padding: 5px;
    background-color: #f1eeaa;
    border: 1px solid #060;
  }
  .item_box {
    border: 1px solid #999;
    margin-bottom: 10px;
    padding: 5px;
  }
  .shopping_list {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
  }
  .shopping_list td,
  .shopping_list th {
    padding: 10px;
    border: 1px solid #aaaaaa;
  }

  .good-img {
    width: 50px;
  }

  .add_item,
  .del_item {
    background-color: #e8b182;
    border: 1px solid #cc8a26;
    cursor: pointer;
    margin: 0;
    padding: 8px;
  }